.lemon-category-button .wp-block-button__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	color: white;
}

.lemon-category-button .wp-block-button__link:hover {
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}