<!-- wp:template-part {"slug":"header","theme":"lemon-concentrate","tagName":"header","className":"site-header"} /-->

<!-- wp:cover {"dimRatio":0,"overlayColor":"transparent","isUserOverlayColor":true,"minHeight":1000,"isDark":false,"sizeSlug":"large","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="min-height:1000px"><span aria-hidden="true" class="wp-block-cover__background has-transparent-background-color has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:lemon-concentrate/breadcrumbs {"name":"lemon-concentrate/breadcrumbs","mode":"preview"} /-->

<!-- wp:post-title {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} /-->

<!-- wp:post-content {"textColor":"primary","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} /-->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"base","className":"is-style-lemon-concentrate-flat-button","style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"borderColor":"white"} -->
<div class="wp-block-button is-style-lemon-concentrate-flat-button"><a class="wp-block-button__link has-base-background-color has-background has-border-color has-white-border-color wp-element-button" style="border-width:2px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">Need More Info?</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"transparent","textColor":"white","className":"is-style-lemon-concentrate-flat-button","style":{"border":{"width":"2px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"borderColor":"white"} -->
<div class="wp-block-button is-style-lemon-concentrate-flat-button"><a class="wp-block-button__link has-white-color has-transparent-background-color has-text-color has-background has-link-color has-border-color has-white-border-color wp-element-button" style="border-width:2px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">Related Products</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:0;padding-left:0"><!-- wp:lemon-concentrate/technical-specifications {"name":"lemon-concentrate/technical-specifications","mode":"preview"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Product Contact Section"},"layout":{"type":"constrained","contentSize":"1380px","wideSize":"1380px"}} -->
<section class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:columns {"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"blockGap":{"top":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"color":{"background":"#fbfbfb"}}} -->
<div class="wp-block-columns has-background" style="background-color:#fbfbfb;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"verticalAlignment":"stretch","className":"product-colour","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}},"backgroundColor":"transparent"} -->
<div class="wp-block-column is-vertically-aligned-stretch product-colour has-transparent-background-color has-background" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:group {"style":{"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between"}} -->
<div class="wp-block-group" style="min-height:100%"><!-- wp:group {"metadata":{"name":"Top"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":6,"style":{"typography":{"textTransform":"uppercase"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"extra-small"} -->
<h6 class="wp-block-heading has-base-color has-text-color has-link-color has-extra-small-font-size" style="text-transform:uppercase">Contact us</h6>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"base"} -->
<h2 class="wp-block-heading has-base-color has-text-color has-link-color" style="font-style:normal;font-weight:500">We will be happy to assist you</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-base-color has-text-color has-link-color">Email us and our team will answer all your needs.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:lemon-concentrate/testimonials {"name":"lemon-concentrate/testimonials","data":{"faq_items":"","_faq_items":"field_6978fbd66c08c"},"mode":"preview"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:lemon-concentrate/contact-form {"name":"lemon-concentrate/contact-form","data":{"faq_items":"","_faq_items":"field_6978fbd66c08c"},"mode":"preview"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Sections"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:lemon-concentrate/product-section {"name":"lemon-concentrate/product-section","data":{"faq_items":"","_faq_items":"field_6978fbd66c08c"},"mode":"preview"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"FAQs","categories":[],"patternName":"core/block/893"},"layout":{"type":"constrained"}} -->
<section class="wp-block-group"><!-- wp:group {"metadata":{"name":"Section Header","patternName":"core/block/723"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"10%"} -->
<div class="wp-block-column" style="flex-basis:10%"><!-- wp:heading {"level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"extra-small"} -->
<h5 class="wp-block-heading has-extra-small-font-size" style="font-style:normal;font-weight:400">FAQs</h5>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"75%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:var(--wp--preset--spacing--70);padding-bottom:0;padding-left:var(--wp--preset--spacing--70);flex-basis:75%"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} -->
<h2 class="wp-block-heading" style="font-style:normal;font-weight:600">Any Questions</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"color":{"text":"#4a4a4a"},"elements":{"link":{"color":{"text":"#4a4a4a"}}}}} -->
<p class="has-text-color has-link-color" style="color:#4a4a4a">Got questions? We’ve got answers. Explore our Help Center for quick solutions, step by step guides.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"20%"} -->
<div class="wp-block-column" style="flex-basis:20%"><!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"white","textColor":"contrast","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"border":{"width":"2px"},"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"borderColor":"secondary"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-contrast-color has-white-background-color has-text-color has-background has-link-color has-border-color has-secondary-border-color wp-element-button" href="http://lemon-concentrate.local/shop/" style="border-width:2px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">More Information</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:lemon-concentrate/faq-accordion {"name":"lemon-concentrate/faq-accordion","data":{"faq_items":"","_faq_items":"field_6978fbd66c08c"},"mode":"preview"} /--></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lemon-concentrate","tagName":"footer","className":"site-footer"} /-->