.faq-accordion {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #F2F2F2;
	padding:2rem;
	border-radius:10px;
}

.faq-item {
	border-bottom: 1px solid var(--wp--preset--color--contrast);
	padding-bottom: 1rem;
	background-color: #F2F2F2;
}

.faq-question {
	cursor: pointer;
	font-weight: 500;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--wp--preset--font-size--medium);
	color: var(--wp--preset--color--primary);
}

.faq-question::-webkit-details-marker {
	display: none;
}

.faq-answer {
	margin-top: 1rem;
	font-size: var(--wp--preset--font-size--small);
}

.faq-item[open] .faq-icon {
	transform: rotate(45deg);
	
}

.faq-icon {
	transition: transform 0.2s ease;
	font-size: 1.5em;
	line-height: 1;
}