.technical-specifications-block {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	gap: 2rem;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	align-items: start;
}

.tech-specs-label {
	margin-top: 0;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

.tech-specs-col-center {
	padding-left: 5rem;
}

.tech-specs-button-wrapper {
	margin-bottom: 0;
}

.tech-specs-list {
	margin: 0;
	padding: 0;
}

.tech-specs-list li {
	margin-bottom: 1rem;
	font-size: 0.9rem;
}

@media (max-width: 781px) {
	.technical-specifications-block {
		grid-template-columns: 1fr;
	}

	.tech-specs-col-center {
		padding-left: 0;
	}

	.tech-specs-button-wrapper {
		margin-top: 1rem;
	}
}