/* Accessibility: Increase icon size so that the button is easier to click */
.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
	width: 48px;
	height: 48px;
}

/* Desktop adjustments for Mega Menu Dropdown */
@media (min-width: 992px) {
	/* Constrain the dropdown width and center it */
	.wp-block-navigation .wp-block-navigation__submenu-container {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding: 1.5rem;
	}

	/* Reduce size of images/thumbs within the dropdown */
	.lemon-mega-menu-item-image {
		width: 100%;
		height: 100px;
		display: block;
		position: relative;
	}

	.lemon-mega-menu-item-image img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.lemon-mega-menu-item-title {
		font-size: 0.85rem;
	}

	/* Reduce gap in columns */
	.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-columns {
		gap: 1rem;
	}
}
