.lemon-concentrate-category-loop {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
}

.lemon-concentrate-category-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: inherit;
	padding: 20px;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	transition: all 0.3s ease;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--category-bg-color, transparent);
	min-height:440px;
}

.lemon-concentrate-category-item:hover {
	border-color: #fff;
	background-color: color-mix(in srgb, var(--category-title-color), transparent 75%);
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.lemon-concentrate-category-icon img,
.lemon-concentrate-category-icon svg {
	transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.lemon-concentrate-category-item:hover .lemon-concentrate-category-icon img,
.lemon-concentrate-category-item:hover .lemon-concentrate-category-icon svg {
	transform: scale(1.2);
}

.lemon-concentrate-category-icon svg {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.lemon-concentrate-category-description {
	font-size: 0.9em;
	margin-top: 10px;
}